[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.27.1"

[dev-packages]
pytest = "==7.0.1"
black = "==22.1.0"
pytest-mock = "==3.7.0"
pylint = "==2.12.2"
build = "==0.7.0"
twine = "==3.8.0"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
